body {
  background-color: black;
  margin: 0px;
}
.calculator {
  background-color: lightgreen;
}
.button_xs {
  width: 45px;
  height: 35px;
  line-height: 35px;
}
.button_xs:hover {
  background-color: forestgreen;
}
.button_s {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.button_m {
  width: 80px;
  height: 50px;
  line-height: 50px;
}
.button_m:hover {
  background-color: forestgreen;
}
.button_l {
  width: 125px;
  height: 85px;
  line-height: 85px;
  margin: 1px;
}
.button_l:hover {
  background-color: forestgreen;
}
.ib {
  display: inline-block;
}
.bg_white {
  background-color: white;
}
.bg_greenyellow {
  background-color: greenyellow;
}
.gray {
  color: gray;
}
.d_flex {
  display: flex;
}
.mla {
  margin-left: auto;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.f_bold {
  font-weight: bold;
}
.f_m {
  font-size: 24px;
}
.f_l {
  font-size: 36px;
}
.pr_15 {
  padding-right: 15px;
}
